### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, on=["school_name"])
school_data_complete_df=pd.DataFrame(school_data_complete)
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Calculate Total number of school
school_data_complete["school_name"].unique()
school_list_df = pd.DataFrame(school_data_complete["school_name"].unique())
total_schools = len(school_list_df)
total_schools

15

In [3]:
#Calculate the total number of students
Total_Number_of_Students = school_data_complete_df["student_name"].count()
Total_Number_of_Students

39170

In [4]:
#Calculate the total budget
Total_budget = school_data["budget"].sum()
Total_budget

24649428

In [5]:
#Calculate the average math score
Average_math_score = school_data_complete_df["math_score"].mean()
Average_math_score

78.98537145774827

In [6]:
# Calculate the average reading score
Average_reading_score = school_data_complete_df["reading_score"].mean()
Average_reading_score

81.87784018381414

In [7]:
Student_passing_math = school_data_complete_df.loc[school_data_complete_df["math_score"]>= 70 , :]
Student_passing_math = Student_passing_math["student_name"].count()
Student_passing_math

29370

In [8]:
# Calculate the percentage of students with a passing math score (70 or greater)
Percentage_of_student_pass_math = (Student_passing_math/Total_Number_of_Students)*100
Percentage_of_student_pass_math

74.9808526933878

In [9]:
Student_passing_reading = school_data_complete_df.loc[school_data_complete_df["reading_score"]>= 70 , :]
Student_passing_reading = Student_passing_reading["student_name"].count()
Student_passing_reading

33610

In [10]:
#Calculate the percentage of students with a passing reading score (70 or greater)
Percentage_of_student_pass_reading = (Student_passing_reading/Total_Number_of_Students)*100
Percentage_of_student_pass_reading

85.80546336482001

In [11]:
Overall_student_passing = school_data_complete_df.loc[(school_data_complete_df["reading_score"]>= 70) &
                                                      (school_data_complete_df["math_score"]>= 70) , :]
Overall_student_passing=Overall_student_passing["student_name"].count()
Overall_student_passing

25528

In [12]:
# Calculate the percentage of students who passed math **and** reading (% Overall Passing)
Percentage_of_overall_student_passing =(Overall_student_passing/Total_Number_of_Students)*100
Percentage_of_overall_student_passing

65.17232575950983

In [13]:
#Create a dataframe to hold the above results
District_summary = pd.DataFrame({"Total school":[total_schools],
                                "Total students":[Total_Number_of_Students],
                               "Total Budget":[Total_budget],
                               "Average Math score":[Average_math_score],
                               "Average Reading score":[Average_reading_score],
                               "Percentage passing math":[Percentage_of_student_pass_math],
                               "Percentage passing Reading":[Percentage_of_student_pass_reading],
                               "Percentage overall Passing":[Percentage_of_overall_student_passing] })

District_summary = District_summary[["Total school","Total students","Total Budget","Average Math score","Average Reading score",
                                  "Percentage passing math","Percentage passing Reading","Percentage overall Passing"]]
#school_summary["Average Math score"] = school_summary["Average Math score"].map("{:,.2f}".format)

District_summary

,Total school,Total students,Total Budget,Average Math score,Average Reading score,Percentage passing math,Percentage passing Reading,Percentage overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [14]:
# School Type
school_types = school_data.set_index(["school_name"])["type"]

# Student Count per School
students_per_school = school_data_complete_df.groupby(["school_name"]).count()["student_name"]

# calculate budget per student
budget_per_school= school_data_complete_df.groupby(["school_name"]).mean()["budget"]
budget_per_student= budget_per_school/students_per_school

#calculate Average Test scores
math_score_per_school= school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
reading_score_per_school= school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [15]:
#calculate percentage of math
students_pass_math= school_data_complete_df[school_data_complete_df["math_score"]>=70]
percentage_math= students_pass_math.groupby(["school_name"]).count()["student_name"]/students_per_school*100

#calculate percentage of reading
students_pass_reading= school_data_complete_df[school_data_complete_df["reading_score"]>=70]
percentage_reading= students_pass_reading.groupby(["school_name"]).count()["student_name"]/students_per_school*100

#calculate percentage of overall
students_pass_overall= school_data_complete_df[(school_data_complete_df["reading_score"]>=70) &
                                               (school_data_complete_df["math_score"]>=70)]
percentage_overall= students_pass_overall.groupby(["school_name"]).count()["student_name"]/students_per_school*100

In [16]:
# school Summary Table
school_summary = pd.DataFrame({"school type":school_types,
                                 "Total Students per school":students_per_school,
                                  "Budget per school":budget_per_school,
                               "Budget per student":budget_per_student,
                               "Average Math score":math_score_per_school,
                               "Average Reading score":reading_score_per_school,
                               "Percentage passing math":percentage_math,
                               "Percentage passing Reading":percentage_reading,
                               "Percentage overall Passing":percentage_overall
    
                            })
school_summary = school_summary[["school type","Total Students per school","Budget per school","Budget per student",
                                 "Average Math score","Average Reading score","Percentage passing math",
                                 "Percentage passing Reading","Percentage overall Passing"]]
school_summary["Average Math score"] = school_summary["Average Math score"].map("{:,.2f}".format)

school_summary

,school type,Total Students per school,Budget per school,Budget per student,Average Math score,Average Reading score,Percentage passing math,Percentage passing Reading,Percentage overall Passing
Bailey High School,District,4976,3124928.0,628.0,77.05,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.10,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.80,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.63,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.07,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.84,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.955000,93.333333,96.611111,90.333333

In [17]:
#Top 5 Performing Schools (By % Overall Passing)
Top_performing_school = school_summary.sort_values('Percentage overall Passing',ascending = False).head()
Top_performing_school

,school type,Total Students per school,Budget per school,Budget per student,Average Math score,Average Reading score,Percentage passing math,Percentage passing Reading,Percentage overall Passing
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858.0,609.0,83.84,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [18]:
#Bottom 5 Performing Schools (By % Overall Passing)
Bottom_performing_school = school_summary.sort_values('Percentage overall Passing',ascending = True).head()
Bottom_performing_school

,school type,Total Students per school,Budget per school,Budget per student,Average Math score,Average Reading score,Percentage passing math,Percentage passing Reading,Percentage overall Passing
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635.0,655.0,76.63,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650.0,650.0,77.07,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [19]:
# Create data series of scores by grade levels using conditionals
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

# Group each by school name
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

# Combine series into single DataFrame
scores_by_grade = pd.DataFrame({"9th": ninth_graders_scores, "10th": tenth_graders_scores,
                                "11th": eleventh_graders_scores, "12th": twelfth_graders_scores})


scores_by_grade = scores_by_grade[["9th", "10th", "11th", "12th"]]
scores_by_grade.index.name = None

# Display the DataFrame
scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [20]:
ninth_grader=school_data_complete_df[(school_data_complete_df["grade"]=="9th")]
tenth_grader=school_data_complete_df[(school_data_complete_df["grade"]=="10th")]
eleventh_grader=school_data_complete_df[(school_data_complete_df["grade"]=="11th")]
twelvth_grader=school_data_complete_df[(school_data_complete_df["grade"]=="12th")]

ninth_grader_score=ninth_grader.groupby(["school_name"]).mean()["reading_score"]
tenth_grader_score=tenth_grader.groupby(["school_name"]).mean()["reading_score"]
eleventh_grader_score=eleventh_grader.groupby(["school_name"]).mean()["reading_score"]
twelvth_grader_score=twelvth_grader.groupby(["school_name"]).mean()["reading_score"]

score_by_grade_reading = pd.DataFrame({"9th":ninth_grader_score,
                             "10th":tenth_grader_score,
                             "11th":eleventh_grader_score,
                             "12th":twelvth_grader_score})
score_by_grade_reading = score_by_grade_reading[["9th","10th","11th","12th"]]
score_by_grade_reading

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [21]:
#copied_school_summary= school_summary
#copied_school_summary

,school type,Total Students per school,Budget per school,Budget per student,Average Math score,Average Reading score,Percentage passing math,Percentage passing Reading,Percentage overall Passing
Bailey High School,District,4976,3124928.0,628.0,77.05,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.10,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.80,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.63,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.07,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.84,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.955000,93.333333,96.611111,90.333333

In [27]:
bins=[0,585,630,645,680]
group_names = ["<585","585-630","630-645","645-680"]
school_summary["scores by school spending"] = 
pd.cut(school_summary["Budget per student"],bins, labels=group_names, include_lowest=True)
school_summary

,school type,Total Students per school,Budget per school,Budget per student,Average Math score,Average Reading score,Percentage passing math,Percentage passing Reading,Percentage overall Passing,scores by school spending
Bailey High School,District,4976,3124928.0,628.0,77.05,81.033963,66.680064,81.933280,54.642283,585-630
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.975780,94.133477,97.039828,91.334769,<585
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.158020,65.988471,80.739234,53.204476,630-645
Ford High School,District,2739,1763916.0,644.0,77.10,80.746258,68.309602,79.299014,54.289887,630-645
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.816757,93.392371,97.138965,90.599455,585-630
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.934412,66.752967,80.862999,53.527508,645-680
Holden High School,Charter,427,248087.0,581.0,83.80,83.814988,92.505855,96.252927,89.227166,<585
Huang High School,District,2917,1910635.0,655.0,76.63,81.182722,65.683922,81.316421,53.513884,645-680
Johnson High School,District,4761,3094650.0,650.0,77.07,80.966394,66.057551,81.222432,53.539172,645-680
Pena High School,Charter,962,585858.0,609.0,83.84,84.044699,94.594595,95.945946,90.540541,585-630
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.744686,66.366592,80.220055,52.988247,630-645
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.725724,93.867121,95.854628,89.892107,585-630
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.848930,93.272171,97.308869,90.948012,630-645
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.989488,93.867718,96.539641,90.582567,<585
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.955000,93.333333,96.611111,90.333333,<585

In [28]:
avg_math_score_by_spending = school_summary.groupby(["scores by school spending"]).mean()['Average Math score']
avg_reading_score_by_spending = school_summary.groupby(["scores by school spending"]).mean()['Average Reading score']
avg_math_Percent_by_spending = school_summary.groupby(["scores by school spending"]).mean()['Percentage passing math']
avg_reading_Percent_by_spending = school_summary.groupby(["scores by school spending"]).mean()['Percentage passing Reading']
avg_overall_Percent_by_spending = school_summary.groupby(["scores by school spending"]).mean()['Percentage overall Passing']

Score_by_school_spending = pd.DataFrame({"Average Math score":avg_math_score_by_spending,
                                         "Average Reading score":avg_reading_score_by_spending,
                                         "Percentage Passing math":avg_math_Percent_by_spending,
                                         "Percentage Passing Reading":avg_reading_Percent_by_spending,
                                         "Percentage Overall Passing":avg_overall_Percent_by_spending
                                        })

Score_by_school_spending = Score_by_school_spending[["Average Math score","Average Reading score","Percentage Passing math",
                                                   "Percentage Passing Reading","Percentage Overall Passing"]]
Score_by_school_spending

KeyError: 'Average Math score'

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type